.list-tags
    a
        margin: 2px 0px;
        background: #38b7ea
        display: inline-block;
        border: 1px solid rgba(255,255,255,.8);
        border-radius: 999em;
        padding: 0 10px;
        color: #fff;
        line-height: 24px;
        font-size: 14px;
        text-decoration: none;
        &:active
            background-color: #666
        &:hover
            background-color: #666


