.list-tags
    a
        margin: 2px 0px
        display: inline-block
        border-radius: 3px
        padding: 0 10px
        line-height: 24px
        font-size: 14px
        text-decoration: none
        color: #349ef3!important
        border: 1px solid #349ef3
        &:visited
            cursor: pointer
            color: #349ef3
            text-decoration: none
        &:active
            cursor: pointer
            color: #349ef3
            text-decoration: none
        &:hover
            cursor: pointer
            color: #349ef3
            text-decoration: none


